<div class="container">

  <div class="row">
    <search-form id="search-form" class="col-md-12" (resetList)="onResetList()"></search-form>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nav-bar (pageSeleted)="onChangePage($event)" [loadedPage]="loadedPage"></nav-bar>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-results *ngIf="loadedPage === 'results'"></app-results>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-favorites *ngIf="loadedPage === 'favorites'"></app-favorites>
    </div>
  </div>
</div>